*{
    margin: 0;
}
.container{
  
    background-color:#53AE29;
  
    width: 100%;
    padding: 0px;
    
}
.container::after{
    content: '';
    display: table;
    clear: both;
}

.container .logo{
    display: inline-block;
    float: left;
    padding: 30px 0px;
    font-size: 30px;
    
    
}

.container h3{
    
    margin-top: 33px;
}
.container nav{

    float: right;
    font-size: 30px;
    margin-top: 40px;
   
    
}

.container nav ul{
    padding: 30px;
    list-style: none;
    font-weight: bold;
    
}

.container nav ul li{
    display: inline-block;
    padding:  0px 30px;
    
}
.container nav ul a{
    text-decoration: none;
    color: black;
}

.container nav ul a:hover{
    color: #A88357;
    background-color: #EBDFD1;
}

.welcome{
    text-align: center;
    padding: 320px;
    font-size: 40px;
    line-height: 150px;
    background-image:url("images/seedq.png") ;
    background-size: cover;
    color: black;
    opacity: 0.75;
    font-weight: bolder;
    position: relative;
    left: 0;
    
    
}

.serv{
   
    display: flex;
    padding: 70px 50px;
    flex-direction: row;
    justify-content: space-between;
}

.serv .cert{
    font-size: 30px;
    border: none;
    padding: 50px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #A88357;
}

.serv .delivery{
    font-size: 30px;
    border: none;
    padding: 50px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #A88357;
}

.serv .consult{
    font-size: 30px;
    border: none;
    padding: 30px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #A88357;
}

.why{
    
    text-align: center;
    font-size: 70px;
    color: #A88357;
    padding: 50px;
}

.why span{
    color: #53AE29;;
}

.why hr{
    width: 170px;
    height: 10px;
    text-align: center;
    background-color: #EBDFD1; 
    margin-left: 42%;
}


.serv i{
    
   
    font-size: 90px;
    align-items: center;
    margin-left: 180px;
}
.serv p{
    font-size: 35px ;
    font-style: italic;
    line-height: 55px;
}
.serv h2{
    text-align: center;
    line-height: 150px;
}



.certification{
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: 70px 0px;
}


.certification .seed{
    font-size: 50px;
    padding: 30px 50px;
    line-height: 70px;
    margin-left: 50px;
    font-style: italic;
}
.certification button{
    padding: 15px 45px;
    border-radius: 25px;
    background-color: #A88357;
    border: none;
    font-weight: bold;
    width: 180px;
}

.certification button:hover{
    color: #53AE29;
    background-color: #EBDFD1;

}

.mainfooter{
    background-color: #53AE29;
   
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0 5%;
}

.footer .address .location{
    font-size: 35px;
    
}

.footer .mail{
    
    font-size: 35px;
    line-height: 50px;
   
}

.footer .mail .email{
    font-size: 35px;
}

.footer .call .phone{
    font-size: 35px;
}
.footer p{
    
    line-height: 30px;
    padding-bottom: 0px;
    color: white;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    padding: 50px;
    margin: 0% 40%;
    
}

.images:hover{
    color: #A88357;
}

.mainfooter .copyrite{
   text-align: center;
    font-size: 15px;
}
#image{
   
    margin-right: 30px;
}
.footer .news{
    
    font-size: 45px;
}
.mail ul{
    list-style: none;
}

.mail ul li {
    text-decoration: none;
}

.fb{
    font-size: 50px;
    color: black;
}
.ig{
    font-size: 50px;
    color: purple;
}
.tw{
    font-size: 50px;
    color:black;
}

.btn{
    padding: 15px 45px;
    border-radius:  25px 25px 10px 25px;
    background-color: #A88357;
    border: none;
    font-weight: bold;
    width: 180px;
}

input[type=text], textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid rgb(172, 16, 16);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 10px;
}

.btn:hover{
    color:#53AE29;;
    background-color: #EBDFD1;
}