*{
    margin: 0;
}
.containe{
  
    background-color:#53AE29;
  
    width: 100%;
    padding: 0px;
    
}
.containe::after{
    content: '';
    display: table;
    clear: both;
}

.containe .logo{
    display: inline-block;
    float: left;
    padding: 30px 0px;
    font-size: 30px;
    color: black;
    
    
}

.containe h3{
    
    margin-top: 33px;
}
.containe nav{

    float: right;
    font-size: 30px;
    margin-top: 40px;
   
    
}

.containe nav ul{
    padding: 30px;
    list-style: none;
    font-weight: bold;
    
}

.containe nav ul li{
    display: inline-block;
    padding:  0px 30px;
    
}
.containe nav ul a{
    text-decoration: none;
    color: black;
}

.containe nav ul a:hover{
    color: #A88357;
    background-color: #EBDFD1;
}
.ourseed>h2{
    text-align: center;
    
}

.img:hover{
    transform: scale(2.0);
}

.seeds{
    display: flex;
    justify-content: space-evenly;
}
.container{
    height: 450px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid green;
    box-shadow: 2px 3px 4px #A88357;
    text-align: center;
    margin-top: 20px;
    border: none;
    
}

.btn{
    padding: 15px 45px;
    border-radius:  25px 25px 10px 25px;
    background-color: #A88357;
    border: none;
    font-weight: bold;
    width: 180px;
}

.btn:hover{
    color:#53AE29;;
    background-color: #EBDFD1;
}


    


/*form styles*/
input[type=text], textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid rgb(172, 16, 16);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 10px;
    
    }


.contain {
        border-radius: 10px;
        background-color: #61d62b;
        padding: 20px;
        width: 600px;
        height: 800px;
        margin-top: 30px;
        margin-bottom: 30px;
        

       
      }
.form{
            display: flex;
            justify-content: space-evenly;
        }
.ourseed .services{
    background-image: url(images/maizeplant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}

.advice{
    border:1px solid brown;
    width: 80%;
    margin-left: 150px;
    background-color: #f0d1ad;
    
    border-radius: 40px;

}
.ourseed .services h2,h3{
    
    text-align: center;
    color: #53AE29;
    margin-bottom: 30px;

}
.ourseed .services .advice ol{
    margin-left: 200px;
}


.ourseed .services p{
    margin: 60px;
    margin-top: -10px;
    font-size: 18px;}
    

    

*{
    margin: 0%;}

nav{
    display: flex ;
    justify-content: space-between;
    margin-bottom: 3px;
    background-color: #53AE29;
    position: sticky;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
}
.nav-bar li{
    padding-right: 40px;
    padding-top: 30px;
    list-style: none;
    font-size: 26px;
    margin-right: 0%;
}
.header_logo{
    display: flex;
    justify-content: space-around;
}
.header_logo h3{
    font-size: 30px;
    margin-top: 30px;
    
}
.landmap{
    display: flex;
    justify-content: space-between;
}
.description{
  font-size: 36px;
}
.description h5{
    margin-left: 40px;
    margin-top: 10px;
}
.description p{
    margin-top: 20px;
}
.content2{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
}
.content{
    background-color: #EBDFD1;

}
.content h4{
    text-align: center;
    padding: 40px;
    font-size: 26px;
}
.box{
    margin-top: 100px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
    
}
.center-box{
    border: solid 2px black;
    margin-top: 80px;
    padding: 10px;
}
.inner{
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}
.main{
    background-color: #EBDFD1;
    padding-top: 100px;
}
.main h5{
   text-align: center; 
   margin-top: 50px;
   font-size: 30px;
   padding: 20px;
}
.final h3{
    text-align: center;
    
}

.store{
    display: flex;
    justify-content: space-between;
    margin: 20px 80px 0px 80px;
}
.box2{
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;

} 
botton:hover{
     color:#53AE29;;
    background-color: #EBDFD1;
}
.final button{
    margin: 50px 600px 30px 500px;
    padding: 10px 50px 10px 70px;
    text-align: center;
    border-radius: 10px;
    background-color: #A88357;
    border: none;

}
.mainfooter{
    background-color: #53AE29;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0 5%;
}
.footer .address .location{
    font-size: 35px;
}
.footer .mail{
    font-size: 35px;
    line-height: 50px;
}
.footer .mail .email{
    font-size: 35px;
}
.footer .call .phone{
    font-size: 35px;
}
.footer p{
    line-height: 30px;
    padding-bottom: 0px;
    color: white;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    padding: 50px;
    margin: 0% 40%;
}
.images:hover{
    color: #A88357;
}
.mainfooter .copyrite{
   text-align: center;
    font-size: 15px;
}
#image{
    margin-right: 30px;
}
.footer .news{
    font-size: 45px;
}
.mail ul{
    list-style: none;
}
.mail ul li {
    text-decoration: none;
}
.fb{
    font-size: 50px;
    color: black;
}
.ig{
    font-size: 50px;
    color: purple;
}
.tw{
    font-size: 50px;
    color:black;}




    
