* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: #53ae29;
   

}
.logo {
    font-size: 20px;
    float: left;
    


}
.top::after{
    content: '';
    display: table;
    clear: both;

}
.top h2{
    display: inline;
    position: relative;
    margin-top: 40px;
    margin-left: -750px;
    
    
}
.navlink {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    width: 30%;
    font-size: 26px;
    padding: 30px;
    float: right;
    margin-right: -400px;
}
.navlink li {
list-style: none;



}
.navlink a{
    text-decoration: none;
    color: black;
}

.about{
    background-image: url("images/greenhouse.jpg");
}
