*{
    margin: 0%;
}
nav{
    display: flex ;
    justify-content: space-between;
    margin-bottom: 3px;
    background-color: #53AE29;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
}
.nav-bar li{
    padding-right: 40px;
    padding-top: 30px;
    list-style: none;
    font-size: 26px;
    margin-right: 0%;
}
.header_logo{
    display: flex;
    justify-content: space-around;
}
.header_logo h3{
    font-size: 30px;
    margin-top: 30px;
    
}
.landmap{
    display: flex;
    justify-content: space-between;
}
.description{
  font-size: 36px;
}
.description h5{
    margin-left: 40px;
    margin-top: 10px;
}
.description p{
    margin-top: 20px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #EBDFD1;

}
.content h5{
    text-align: center;
}
.box{
    margin-top: 100px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
    
}
.center-box{
    border: solid 2px black;
    margin-top: 80px;
    padding: 10px;
}


